
<div class="navbar fixed-top">
    <% if user_signed_in? %>
        <div class="nav container justify-content-space" style="background-color:pink;">
            <%= link_to "ABOUT", "/abouts", :class => "navbar-link navbar-si" %>
            <%= link_to "CONTACTS", "/contacts", :class => "navbar-link navbar-si" %>
            <%= link_to "PROJECTS", "/projects", :class => "navbar-link navbar-si" %>
            <%= link_to "IMAGES", "/images", :class => "navbar-link" %>
            <div class= "navbar-text navbar-right">
                Logged in as <strong><%= current_user.email %></strong>.
                <%= link_to "Edit profile", edit_user_registration_path, :class => "navbar-link" %> |
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbar-link" %>
            </div>
        </div>
    <% else %>
        <div class="nav container">
            <%= link_to "CAM BUI", "/projects", :class => " navbar-brand navbar-left" %>
            <%= link_to "ABOUT", "/abouts", :class => "navbar-link navbar-right", :style => "position: relative; right: 0;" %>
        </div>
        <div class="nav container">
            <%= link_to "PORTFOLIO", "/projects", :class => "navbar-link navbar-left", :style => "position: abo; bottom: 0; left: 0;" %>
        </div>
        <div class="nav container navbar-text navbar-right">
            <%= link_to "Sign up", new_user_registration_path, :class => "navbar-link" %> |
            <%= link_to "Login", new_user_session_path, :class => "navbar-link" %>
        </div>
    <% end %>

</div>
